/*Creacion de la animacion para el Area*/

.contenedorA {
  border: solid rgb(6, 122, 164);
  width: 600px;
  height: 600px;

  margin-left: auto;
  margin-right: auto;
}

.cuadradoA {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  animation-name: area;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-delay: 0s;
  position: relative;
}

@keyframes area {
  5% {
    left: -200px;
    top: 0px;
  }
  30% {
    left: 200px;
    top: 0px;
  }

  65% {
    top: 400px;
    left: 200px;
  }
  80% {
    left: -200px;
    top: 400px;
  }
  100% {
    left: -200px;
    top: 0px;
  }
}

@media screen and (max-width: 950px) {
  .contenedorA {
    border: solid rgb(6, 122, 164);
    width: 300px;
    height: 300px;

    margin-left: auto;
    margin-right: auto;
  }

  .cuadradoA {
    width: 100px;
    height: 100px;
  }
  @keyframes area {
    5% {
      left: -100px;
      top: 0px;
    }
    30% {
      left: 100px;
      top: 0px;
    }

    65% {
      top: 200px;
      left: 100px;
    }
    80% {
      left: -100px;
      top: 200px;
    }
    100% {
      left: -100px;
      top: 0px;
    }
  }
}

@media screen and (max-width: 400px) {
  .contenedorA {
    border: solid rgb(6, 122, 164);
    width: 150px;
    height: 150px;

    margin-left: auto;
    margin-right: auto;
  }

  .cuadradoA {
    width: 50px;
    height: 50px;
  }
  @keyframes area {
    5% {
      left: -50px;
      top: 0px;
    }
    30% {
      left: 50px;
      top: 0px;
    }

    65% {
      top: 100px;
      left: 50px;
    }
    80% {
      left: -50px;
      top: 100px;
    }
    100% {
      left: -50px;
      top: 0px;
    }
  }
}
