/*General de la pagina y animacion de perimetro*/

p {
  margin-bottom: 2em;
}

.extras {
  width: 400px;
  height: 400px;
  display: inline;
  margin-bottom: 4em;
}

.extras a {
  text-decoration: none;
  color: rgb(197, 6, 6);
  text-decoration: none;
}

.extras a:hover {
  text-decoration: none;
  color: rgb(66, 6, 3);
  font-size: x-large;
}

.contenedor {
  border: solid rgb(201, 3, 3);
  width: 400px;
  height: 400px;

  margin-left: auto;
  margin-right: auto;
}

.cuadrado {
  width: 10px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  animation-name: perimetro;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  position: relative;
}

@keyframes perimetro {
  5% {
    left: -200px;
    top: 0px;
  }
  30% {
    left: 200px;
    top: 0px;
  }

  65% {
    top: 400px;
    left: 200px;
  }
  80% {
    left: -200px;
    top: 400px;
  }
  100% {
    left: -200px;
    top: 0px;
  }
}

@media screen and (max-width: 700px) {
  .contenedor {
    border: solid rgb(164, 6, 6);
    width: 200px;
    height: 200px;

    margin-left: auto;
    margin-right: auto;
  }

  @keyframes perimetro {
    5% {
      left: -100px;
      top: 0px;
    }
    30% {
      left: 100px;
      top: 0px;
    }

    65% {
      top: 200px;
      left: 100px;
    }
    80% {
      left: -100px;
      top: 200px;
    }
    100% {
      left: -100px;
      top: 0px;
    }
  }
}

@media screen and (max-width: 400px) {
  .contenedor {
    border: solid rgb(202, 6, 6);
    width: 100px;
    height: 100px;

    margin-left: auto;
    margin-right: auto;
  }

  @keyframes perimetro {
    5% {
      left: -50px;
      top: 0px;
    }
    30% {
      left: 50px;
      top: 0px;
    }

    65% {
      top: 100px;
      left: 50px;
    }
    80% {
      left: -50px;
      top: 100px;
    }
    100% {
      left: -50px;
      top: 0px;
    }
  }
}
